body{
    margin: 0;
}
#header{
    background: dodgerblue;
    height: 100px;
    width: 100%;
}
#main{
    background: orange;
    height: 300px;
    width: 70%;
    float: left;
}
#sidebar{
    background: red;
    height:300px ;
    width: 30%;
    float: right;
}
#footer{
    background: olivedrab   ;
    height: 100px;
    width: 100%;
    clear: both;
}